body{
  background-color: #e9ebee;
  font-family: inherit;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.banner {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
}

.banner-align {
  text-align: right;
}

.nav{
  text-align: center;
}

.nav-padding{
  padding: 10px;
  margin: 10px;
}

.title{
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-menu{
  background: white;
  border-radius: 18px;
  cursor: pointer;
}

.container-nav{
  background-color: white;
  width: 600px;
  height: 50px;
  display: inline-block;
  border: 1px solid #dddfe2;
  border-radius: 3px;
}

.container-post{
  border: 1px solid #dddfe2;
  border-radius: 3px;
}

.margin-post{
  margin-bottom: 20px;

}

.container-new{
  background-color: white;
  width: 600px;
  display: inline-block;
  border: 1px solid #dddfe2;
  border-radius: 3px;
}

.button-post{
  background-color: #4267b2;
  border-color: #4267b2;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  color: #fff;
}

.margin-vote{
  margin: 0 5px;
}

.combo-box{
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  height: 30px;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.post-vote-icon{
  display: contents;
}

.post-comment-box{
  background-color: #fff;
  border-top: 1px solid #dadde1;
}

.input-comment{
  display: inline;
  border-radius: 20px;
  width: 50%;
}

.post-action{
  margin-bottom: -17px;
  align-items: center;
  color: #606770 !important;
  display: flex;
  flex: 1 0;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  line-height: 14px;
  padding: 0 2px;
  position: relative;
  text-decoration: none;
  transition: 400ms cubic-bezier(.08,.52,.52,1) transform;
}

.post-action-margin{
  border-top: 1px solid #dadde1;
  color: #606770;
  padding-top: 3px;
}

.post-action-button:hover{
  cursor: pointer;
  background: #ECEFF3;
  border-radius: 3px;
}

.comment-action-button{
  width: 30px;
  display: inline-block;
  text-align: center;
  padding: 3px;
}
.comment-action-button:hover{
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
  width: 30px;
}

.post-action-button2{
  width: 30px;
  display: inline-block;
  text-align: center;
  padding: 3px;
}
.post-action-button2:hover{
  cursor: pointer;
  background: #ECEFF3;
  border-radius: 3px;
  width: 30px;
}

.comment{
  background-color: #f2f3f5;
  border-radius: 18px;
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.comment-action{
  margin-left: 30px;
}

.comment-margin-content{
  padding: 15px;
}

.comment-like{
  background-color: #f4f5f7;
  border-radius: 18px;
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.container-comment{
  border: 1px solid #dddfe2;
  border-radius: 3px;
  margin: 50px;
}